body {
  background-color: #fff;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  flex-direction: column;
}

.loading {
  width: 20vw !important;
}

#web-ui {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 100;
  pointer-events: none;
}

.location-btn {
  width: 10vw;
  margin: 0.1em;
  pointer-events: all;
  min-width: 50px;
  opacity: 0.5;
}

.selected {
  opacity: 1 !important;
}

.location-btn:hover {
  width: 12vw;
  opacity: 0.8 !important;
}

#web-logos {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  pointer-events: none;
}
#web-logos img {
  width: 30vw;
  min-width: 20em;
}

#web-map {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10vw;
  background-color: #6b6b6b55;
  margin-right: 0.1em;
  min-width: 50px;
}